@font-face {
  font-family: "Birthstone";
  src: url("/fonts/paginaInicial/Birthstone/Birthstone-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("/fonts/paginaInicial/Mulish/Mulish-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/edicaoPerfil/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("/fonts/edicaoPerfil/Open_Sans/static/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/edicaoPerfil/Inter/static/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}



    body {
      background: #f5f5f5;
      color: #545454;
      padding-top: 70px;
    }

   
    header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 90px;
      background: #917ba4;
      padding: 10px 40px;
      z-index: 1;
      height: 65px;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 35px;
    }

    .logo img {
      cursor: pointer;
      height: 35px;
      margin-top: 10px;
    }
    
    .menu-icon {
      background: #ffffff00;
      border: none;
      font-size: 1.5em;
      color: rgb(227, 222, 222);
      cursor: pointer;
      height: 25px;
      margin-top: 8px;
    }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  max-width: 600px;
  padding: 20px;
}

h1 {
  color: #333;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle {
  color: #555;
  font-size: 1rem;
  margin-bottom: 40px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 15px 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn.pink {
  background-color: #ff9a9a;
}

.btn.purple {
  background-color: #b7a9d6;
}

.btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.icon {
  font-size: 1.2rem;
}
