@font-face {
  font-family: "Mulish";
  src: url("/fonts/paginaInicial/Mulish/Mulish-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Birthstone";
  src: url("/fonts/paginaInicial/Birthstone/Birthstone-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/edicaoPerfil/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("/fonts/edicaoPerfil/Open_Sans/static/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/edicaoPerfil/Inter/static/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}


body {
 
  background: linear-gradient(rgba(255,255,255,0.88), rgba(255,255,255,0.88)),
              url("../img/fundo-cliente.jpg") no-repeat center center fixed;
  background-size: cover;

  color: #545454;
  padding-top: 70px;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #917ba4;
  height: 65px;
  padding: 10px 40px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 35px;
  cursor: pointer;
}

.perfil-area {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nome {
  font-weight: 600;
  color: #fff;
}

.perfil-foto {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
}

.menu-icon {
  transform: translateY(-55%);
  margin-top: 10%;
  background: none;
  border: none;
  font-size: 1.6em;
  color: #f5f5f5;
  cursor: pointer;
}


.conteudo {
  text-align: center;
  padding: 100px 20px;
}

.conteudo h2 {
  font-size: 28px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.conteudo p {
  color: #666;
  margin-bottom: 60px;
  font-size: 16px;
}


.botoes {
  display: grid;
  grid-template-columns: repeat(2, 260px);
  justify-content: center;
  gap: 35px;
}

.btn {
  border: none;
  border-radius: 18px;
  padding: 22px 0;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  color: white;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
  opacity: 0.9; 
}

.btn:hover {
  transform: scale(1.07);
  opacity: 1;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}


.buscar {
  background: rgba(228, 92, 92, 0.9);
}

.agenda {
  background: rgba(139, 115, 201, 0.9);
}

.mensagens {
  background: rgba(188, 168, 228, 0.9);
}

.avaliacoes {
  background: rgba(243, 123, 131, 0.9);
}
