@font-face {
  font-family: "Birthstone";
  src: url("/fonts/paginaInicial/Birthstone/Birthstone-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("/fonts/paginaInicial/Mulish/Mulish-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/edicaoPerfil/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("/fonts/edicaoPerfil/Open_Sans/static/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/edicaoPerfil/Inter/static/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}



   body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #f7f6fc;
}

.top-bar {
    background-color: #7b61ff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
}

.top-bar .logo {
    display: flex;
    align-items: center;
}

.top-bar .logo img {
    width: 40px;
    margin-right: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info img.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.content {
    text-align: center;
    margin-top: 60px;
}

.content h1 {
    color: #333;
    font-size: 26px;
    margin-bottom: 10px;
}

.content p {
    color: #666;
    margin-bottom: 50px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 220px);
    gap: 25px;
    justify-content: center;
}

.btn {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 18px;
    border-radius: 15px;
    font-size: 16px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.btn.pink {
    background-color: #ff6f91;
}

.btn.purple {
    background-color: #9b6bff;
}

.btn.light-purple {
    background-color: #bba9ff;
}

.btn.red {
    background-color: #ff6b6b;
}
