@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f8f4ff;
    color: #333;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #917ba4;
  height: 65px;
  padding: 10px 40px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 1;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ===== HEADER ===== */
.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #835AFD;
    color: #fff;
    padding: 15px 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
  height: 35px;
  cursor: pointer;
}

.perfil-area {
  display: flex;
  align-items: center;
  gap: 15px;
}

.perfil-foto {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
}

/* ===== CONTEÚDO ===== */
.container {
    margin-top: 15%;
    padding: 40px 80px;
}

.container h2 {
    color: #333;
    font-size: 28px;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.caixa {
    flex: 1 1 45%;
    background-color: #fff;
    border-radius: 15px;
    padding: 25px;
    border: 2px solid #d8c3ff;
    box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}

.caixa h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 15px;
}

.caixa p {
    color: #555;
    font-size: 14px;
    line-height: 1.6;
}

.caixa ul {
    list-style: disc;
    margin-left: 20px;
    color: #444;
    font-size: 14px;
    line-height: 1.6;
}

/* ===== INFORMAÇÕES ===== */
.info {
    margin-top: 30px;
    font-size: 15px;
    color: #444;
}

.info p {
    margin: 5px 0;
}

/* ===== BOTÃO ===== */
.acoes {
    margin-top: 30px;
}

.btn {
    background-color: #FF5D73;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #ff425e;
}