/* ================= FONTS ================= */
@font-face {
  font-family: "Birthstone";
  src: url("/fonts/paginaInicial/Birthstone/Birthstone-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("/fonts/paginaInicial/Mulish/Mulish-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/edicaoPerfil/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("/fonts/edicaoPerfil/Open_Sans/static/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* ================= RESET ================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  background: #f5f5f5;
  color: #545454;
  padding-top: 90px; /* compensa altura do header fixo */
  
}

/* ================= HEADER ================= */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: #917ba4;
  padding: 10px 40px;
  z-index: 1000;
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  cursor: pointer;
  height: 50px;
  margin-top: 10px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu-icon {
  background: #917ba4;
  border: none;
  font-size: 2em;
  color: white;
  cursor: pointer;
}

/* ================= PERFIL ================= */
.headerPerfil{
  position: fixed;
  background-color: #f5f5f5;
  width: 100%;
  height: 210px;

}

.meuPerfil img {
  position: fixed;
  top: 120px;   /* abaixo do header */
  left: 48px;   /* alinhado à esquerda */
  cursor: pointer;
  width: 140px;  
}

.adicionarFoto img {
  position: fixed;
  top: 120px;   /* alinhado verticalmente */
  left: 50%;    /* centralizado */
  transform: translateX(-50%);
  width: 160px;
  height: 160px;
  cursor: pointer;

}

.linha {
  
  position: fixed;
  top: 300px;   /* ajusta para ficar logo abaixo da foto */
  left: 0;
  width: 100%;  
  height: 1px;  
  background-color: #969191;
  opacity: 50%;
}


/* ================= FORMULÁRIO ================= */
.Formulario {
  
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  max-width: 900px;
  margin: 60px auto 110px auto;
  font-family: "OpenSans-Bold";
  color: #545454;
}

.form-container {
  margin-top: 180px;
  display: flex;
  gap: 40px;
  justify-content: center;
  
}

.colunaForm {
  
  flex: 1;
  
}

.campo {
  margin-bottom: 20px;
  
}

label {
  
  font-weight: bold;
  margin-bottom: 7px;
  margin-left: 2px;
  display: block;
  font-family: "OpenSans-Bold";
  color: #545454;
}

input {
  
  width: 500px;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 8px;
  background-color: transparent;
  color: #545454;
}

/* Campo senha com ícone de olho */
.olhoSenha img {
  cursor: pointer;
  width: 24px;
  height: 22px;
  margin-left: 472px;
  margin-bottom: 100px;
}

.campoSenha {
  margin-top: -130px;
}

/* ================= ÁREA DE TEXTO ================= */
textarea {
  width: 100%;
  height: 100px;
  border-radius: 8px;
  border: 1px solid #999;
  padding: 10px;
  resize: none;
  margin-bottom: 25px;
 
  font-size: 14px;
  background-color: transparent; /* pode trocar pra transparent */
}

/* ================= BOTÕES ================= */
.botoes {
  display: flex;
  gap: 20px;
  margin-left: 00px;
}

.btn-excluir {
  background: transparent;
  color: #4b0055;
  border: 1px solid #4b0055;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
}

.btn-salvar {
  background: #4b0055;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
}

/* ================= SUAS FOTOS ================= */
.container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  max-width: 1000px;
  margin: auto;
}

.coluna-esquerda {
  flex: 1;
  margin-left: -20px;
  
}

.coluna-direita {
  flex: 1;
  
}

.coluna-direita h4 {
  margin-bottom: 15px;
}

.fotos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.foto {
  width: 150px;
  height: 100px;
  background: #b6a4c4;
  border-radius: 20px;
  position: relative;
}

.lixeira {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 14px;
  cursor: pointer;
  color: #4b0055;
  font-weight: bold;
}
