
@font-face {
  font-family: "Birthstone";
  src: url("/fonts/paginaInicial/Birthstone/Birthstone-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("/fonts/paginaInicial/Mulish/Mulish-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish";
  
}

body{
  background:#8e78a1;
}

/* Cabeçalho */
header {
  background: #917ba4; /* Roxinho */
  padding: 10px 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  cursor:pointer;
  height: 50px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.btnEntrar {
  background: #ff7f86;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 1.5em;
}

.menu-icon {
  background: #917ba4;
  border: none;
  margin-bottom: 9px;
  font-size: 2.9em;
  color: white;
  cursor: pointer;
}

/* Hero section */
.hero {
  display: flex;
  align-items: center;  /* alinha texto e imagem no centro vertical */
  justify-content: space-between;
  background:#8e78a1;
  padding-left: 8%;
  gap: 10%;
}
.texto {
  flex: 1; /* ocupa espaço da esquerda */
}

.texto h2 {
  color: white;
  font-size: 45px;
  margin-bottom: 10px;
  font-weight: normal;
}

.texto h1 {
  margin-bottom: 40%;
  font-family: "Birthstone";
  margin-left:20%;
  color: white;
  font-size: 150px;
  font-style: italic;
  font-weight: bold;
}
.imagem {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
.imagem img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  display: block;  
}

/* Barra de busca */

.busca {
  display: flex;
  gap: 20px;
  margin-top: 20px; /* espaçamento normal abaixo do título */
}

.campo {
  display: flex;
  flex-direction: column;
}

.campo p {
  font-size: 25px;
  margin-bottom: 5px;
  color: #ffffff;
}

.campo input {
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  max-width: 200%;
  height: auto;
}