* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #F5F5F5;
}

.titulo {
    color: blue;
    text-decoration: none;
}

article {
    /* Esse modelo abaixo centralzia os elemenos*/
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.botao {
    text-decoration: none;
    position: absolute;
    border-radius: 14px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background: tomato;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
  background: #FFFFFF;
  padding: 20px 40px;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);
}

ul {
  display: flex;
  justify-content: space-between; /* separa links e botão */
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.links {
  margin-left:50%;
  display: flex;
  gap: 70px; /* espaço entre os links */
}

.links a {
  font-size: 150%;
  text-decoration: none;
  color: black;
}

.btnEntrar button {
  font-size: 24px;
  background: #e26da7;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 7px 25px;
}



.moldura {
  width: 86%; /* tamanho da moldura */
  height: 90%;
  background: url('\img\ImagemPgInicial.png') no-repeat center/contain;
  display: flex;
  align-items: center; /* centraliza verticalmente */
  justify-content: center; /* centraliza horizontalmente */
  overflow: hidden; /* corta o que passar */
  margin-top: 3%;
  margin-left: 14%;
}

.moldura img {
  width: 75%; /* aumenta ou diminui */
  height: auto;
  position: relative; /* pra poder mover */
  top: 20%; /* mexe verticalmente */
  left: 19%; /* mexe horizontalmente */
}
