* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #F5F5F5;
}

.titulo {
    color: blue;
    text-decoration: none;
}

article {
    /* Esse modelo abaixo centralzia os elemenos*/
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.botao {
    text-decoration: none;
    position: absolute;
    border-radius: 14px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background: tomato;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    list-style-type: none;
    margin: 0;

    margin-left: 55%;
}

li {
    display: inline;
}

a {
    font-size: 130%;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
}

.entrar {
    font-size: 140%;
    background: tomato;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 7px 25px 7px 25px;
    margin-left: 10%;
}
nav{
    background: #FFFFFF;
    padding-top:20px;
    padding-bottom:20px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);
}
.moldura {
  width: 90%; /* tamanho da moldura */
  height: 90%;
  background: url('\img\ImagemPgInicial.png') no-repeat center/contain;
  display: flex;
  align-items: center; /* centraliza verticalmente */
  justify-content: center; /* centraliza horizontalmente */
  overflow: hidden; /* corta o que passar */
  margin-top: 3%;
  margin-left: 14%;
}

.moldura img {
  width: 75%; /* aumenta ou diminui */
  height: auto;
  position: relative; /* pra poder mover */
  top: 20%; /* mexe verticalmente */
  left: 15%; /* mexe horizontalmente */
}
